---
import StoryblokComponents from '../components/StoryblokComponents.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<StoryblokComponents />
	</main>
</Layout>
